<IfModule mod_rewrite.c>
  RewriteEngine On

  # "Schöne URLs" -> index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Blockiere direkten Zugriff auf .env
<Files ".env">
  Order allow,deny
  Deny from all
</Files>
