<IfModule mod_rewrite.c>
  RewriteEngine On

  # (1) Schöne URLs umleiten auf index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# (2) .env vor öffentlichem Zugriff schützen
<Files ".env">
  Order allow,deny
  Deny from all
</Files>
